h1 {
    font-family: 'Bungee', cursive;
    font-size: 150px;
    width: 100%;
    height: 300px;
    color:#797979;
}

/*Make the header and set up our Percy*/
#percy {
    position: relative;
    padding-top: 10px;
    text-align: center;
    height: 640px;
    z-index: 1;
}

#percy > h1 {
    position: absolute;
    z-index: 1;
    top: 20px;

}

#polarBear {
    position: absolute;
    top: 250px;
    left: 42.5%;
    z-index: 2;
    width: 15%;
}

#ice {
    position: absolute;
    left: 25%;
    width: 50%;
    top: 495px;
    z-index: 1;
}


/* Style the list */

#tabs {
    position: relative;
}

ul.tab {
    list-style-type: none;
    display: block;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
    text-align: center;
    
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

ul.tab li a img {
    width: 60%
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}

ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab stuff */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
