h1 {
    font-family: 'Bungee', cursive;
    font-size: 150px;
    width: 100%;
    height: 300px;
    color:#797979;
}

#percy {
    position: relative;
    padding-top: 10px;
    text-align: center;
    height: 300px;
    z-index: 1;
}

#percy > h1 {
    position: absolute;
    z-index: 1;
    top: 20px;

}

#polarBear {
    position: absolute;
    top: 250px;
    left: 42.5%;
    z-index: 2;
    width: 15%;
}

#ice {
    position: absolute;
    left: 25%;
    width: 50%;
    top: 495px;
    z-index: 1;
}
